.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
    padding-top: 10px;
    background-color: #F5F5F5;
}

.header-text {
    background-color: #CAE4DB;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
}

.profile {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.profile-pic{
    display: inline-block;
    width: 60px;
    border-radius: 50%;
}

.profile-pic:hover {
    cursor: pointer;
}

.bell-icon {
    width: 12px;
    background-color: #00303F;
    padding: 10px;
    border-radius: 50%;
    border: 3px solid #00303F;
    margin-right: 5px;
}

.bell-icon:hover {
    cursor: pointer;
}

/* drop-down menu */
.mat-menu-btn {
    background-color: #00303F;
    color: white;
    border-radius: 15px;
}


button {
    display: inline-block;
}

@media(max-width:768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        height: auto;
    }
}

