<div class="main-content-container">

    <div class="header container">
        <p class='header-text'>All Users</p>
        <div class="add-search">
            <div class="form-group">

                <input class="search-input" type="text" placeholder="Search" [(ngModel)]="query">
            </div>
        </div>
    </div>


    <div class="cards">
        <div *ngFor="let user of users | usernameFilter: query">
            <div class="card">
                <div class="card-head">
                    <h1 style="visibility: hidden;">Hid</h1>
                    <img class="profile-avatar" [src]="user.profilePic != null ? 'https://quizeee-app-api.herokuapp.com/api/download/' + user.profilePic : '../../assets/profile-avatar.png'" onerror="this.src='https://ik.imagekit.io/4afsv20kjs/empImg_Bi_CID4Ly.jpg'">
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div>
                    <h3 class="username">Username: <span style="font-weight: bold;">{{user.username}}</span></h3>
                    <h3 class="email">Email ID: <span style="font-weight: bold;">{{user.email}}</span></h3>
                </div>
                <div class="password">
                    <h3>Phone : </h3>
                    <h3 class="psswd">{{user.phone}}</h3>
                </div>
                <div class="actions">
                    <!-- <button mat-icon-button class="delete-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="edit-icon">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <button type="button" class="btn" (click)="addStudent($event.target, user.userId)">Add User</button>
                </div>
            </div>
        </div>
    </div>

    <div class="sticky-btn">
        <button class="btn btn-sticky" (click)="submitGroup()">Submit Group</button>
    </div>

</div>
