.main-content-container {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    height: 90vh;
    overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-text {
    font-weight: bold;
    font-size: 1.2em;
    width: 150px;
    border-bottom: 2px solid black;

}


/* .add-search {
    margin-right: 50px;
} */

.add-button {
    background-color: #FFB51E;
    font-size: 0.7em;
    padding: 15px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.add-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.search-input {
    background-color: #A9A9A9;
    border: none;
    padding: 15px;
    border-radius: 15px;
    width: 200px;
}

.search-input::placeholder {
    color: white;
}

.search-input:focus {
    outline: none;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.card {
    width: 280px;
    background-color: white;
    margin: 10px;
    padding: 20px 15px 20px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border: 3px solid #F5F5F5;
    border-radius: 50%;
}

.card-head{
    display: flex;
    justify-content: space-between;
}

.card-head mat-icon {
    margin-top: 15px;
    color: #00303f;
}

.email {
    text-align: center;
    font-size: 0.9em;
    background-color: #FFB51E;
    margin: 0px 10px 10px 10px;
    padding: 8px;
    border-radius: 15px;
    font-weight: 590;
}

.username {
    text-align: center;
    font-size: 0.9em;
    background-color: #FFB51E;
    margin: 20px 10px 5px 10px;
    padding: 8px;
    border-radius: 15px;
    font-weight: 590;
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password > * {
    font-size: 0.9em;
    font-weight: bold;
}

.psswd {
    margin-left: 5px;
}

.password mat-icon {
    margin-top: -5px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    color: #00303f;
    background-color: #FFB51E;
}

.edit-icon {
    color: white;
    background-color: #00303f;
    margin-left: 8px;
}

.btn {
    padding: 15px;
    width: 120px;
    color: var(--yellow-color);
    background-color: var(--primary-blue);
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 25px;
    margin-left: 10px;
}

mat-icon {
    cursor: pointer;
}

.sticky-btn {
    position: fixed; 
    bottom: 10px; 
    right: 15px; 
}

.btn-sticky {
    border-radius: 50%;
    padding: 40px 15px 40px 15px;
    width: fit-content;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid var(--yellow-color);
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00303f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #003030; 
  }

@media(max-width: 768px) {
    .main-content-container {
        height: calc(100vh - 174.781px);
    }

    .header {
        padding-top: 20px;
        flex-direction: column;
        padding-left: 10px;
    }

    .search-input {
        margin-top: 10px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        /* margin: 0px; */
    }

    .card {
        min-width: 250px;
        /* width: 250px; */
        margin-bottom: 10px;

    }

    .email {
        margin: 0px;
    }

}


#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 250px;
    height: 250px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;   
    animation: spin 2s linear infinite;
}
      
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
