<div class="main-content-container">

    <div class="header container">
        <p class='header-text' style="margin-bottom: 30px;">&nbsp;&nbsp; All Users</p>
        <div class="add-search">
            <div class="form-group">
                <input class="search-input" type="text" placeholder="Search By Email Or Phone" [(ngModel)]="query">
            </div>
        </div>
    </div>

    <!-- spinnner element is defined with id loading -->
    <div class="d-flex justify-content-center mt-5" *ngIf="isLoading">
        <div class="spinner-border" role="status">
            <span class="sr-only" id="loading"></span>
        </div>
        <br>
        Loading....
    </div>

    <div class="cards">
        <div *ngFor="let user of users | usernameFilter: query">
            <div class="card" >
                <div class="card-head">
                    <h1 style="visibility: hidden;">Hid</h1>
                    <img class="profile-avatar" [src]="user.profilePic != null ? 'http://82.180.160.159:8080/api/download/' + user.profilePic : '../../assets/profile-avatar.png'" onerror="this.src='https://ik.imagekit.io/4afsv20kjs/empImg_Bi_CID4Ly.jpg'">
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div>
                    <h3 class="username">Username: <span style="font-weight: bold;">{{user.username}}</span></h3>
                    <h3 style="width: 270px;margin-left: -10px;" class="email">Email ID: <span style="font-weight: bold;">{{user.email }}</span></h3>
                </div>
                <div class="password">
                    <h3>Phone : </h3>
                    <h3 class="psswd">{{user.phone}}</h3>
                </div>
                <div class="actions">
                    <!-- <button mat-icon-button class="delete-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="edit-icon">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <button type="button" class="btn" (click)="addStudent($event.target, user)">Add User</button>
                </div>
            </div>
        </div>
    </div>

    <hr *ngIf="students.length!=0">
    <h3 *ngIf="students.length!=0" class="text-center" style="font-weight: 600;font-size:x-large;">Selected Users</h3>
    <div class="cards">
        <div *ngFor="let user of students">
            <div class="card">
                <div class="card-head">
                    <h1 style="visibility: hidden;">Hid</h1>
                    <img class="profile-avatar" [src]="user.profilePic != null ? 'http://82.180.160.159:8080/api/download/' + user.profilePic : '../../assets/profile-avatar.png'" onerror="this.src='https://ik.imagekit.io/4afsv20kjs/empImg_Bi_CID4Ly.jpg'">
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div>
                    <h3 class="username">Username: <span style="font-weight: bold;">{{user.username}}</span></h3>
                    <h3 style="width: 270px;margin-left: -10px;" class="email">Email ID: <span style="font-weight: bold;">{{user.email }}</span></h3>
                </div>
                <div class="password">
                    <h3>Phone : </h3>
                    <h3 class="psswd">{{user.phone}}</h3>
                </div>
                <div class="actions">
                    <!-- <button mat-icon-button class="delete-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="edit-icon">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <button type="button" class="btn" (click)="addStudent($event.target, user)">Remove User!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="sticky-btn">
        <button class="btn btn-sticky" (click)="submitGroup()">Submit Group</button>
    </div>

</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Creating New Group....</p>
</ngx-spinner>
