<div class="container text-center">    
    <div class="table ">
        <table datatable [dtOptions]='dtOptions' [dtTrigger]="dtTrigger" class="row-border hover">           
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>UPI ID</th>
                    <th>Amount</th>
                    <th>Status</th>     
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let payReq of allPaymentRequests;let i = index;">
                    <td>{{ (i+1) }}</td>
                    <td >{{ payReq.userName | titlecase}}</td>
                    <td>{{ payReq.email }}</td>
                    <td>{{ payReq.phone}}</td>        
                    <td>{{ payReq.upiId }}</td>     
                    <td>{{ payReq.withdrawalAmount | currency:'INR' }}</td>    
                    <td>{{ (payReq.paymentStatus!=0?(payReq.paymentStatus==1?'PAID':'REJECTED'):'PENDING')}}</td>   
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
type = "ball-atom" [fullScreen] = "true">
    <p style="font-size: 20px; color: white" > Loading Requests... </p>
</ngx-spinner>
