<div class="container-fluid">
    <div class="card outer-card">
        <form [formGroup]="addNewQuizForm" (submit)="addOrganizationQuiz()">
            <div class="card inner-card-1">
                <div>
                    Quiz Title: 
                    <input type="text" formControlName="quizTitle" required placeholder="Enter Quiz Title....">
                </div>

                <div>
                    Select Category: 
                    <select class="select-dropdown"  formControlName="quizCategory" #mySelect [(ngModel)]="defaultCategory"
                    (change)='onSelectedCategory(mySelect.value)'>
                        <option [ngValue]="categ.category" *ngFor="let categ of allCategories">{{categ.category | titlecase}}</option>                     
                    </select>
                </div>

                <div>
                    Select Sub Category: 
                    <select class="select-dropdown" formControlName="quizSubCategory" #mySelect1 [(ngModel)]="defaultSubCategory"
                    (change)='onSelectedSubCategory(mySelect1.value)'>
                    <option value="0" disabled *ngIf="allSubCategories.length==0">First Select Category</option>
                        <option [ngValue]="subCateg.name" *ngFor="let subCateg of allSubCategories">{{subCateg.name | titlecase}}</option> 
                    </select>
                </div>

                <div>
                    Area of Interest:
                    <select class="select-dropdown" formControlName="areaOfInterest" #mySelect2 [(ngModel)]="defaultAOI"
                    (change)='onSelectedAreaOfInterest(mySelect2.value)'>
                        <option value="0" disabled *ngIf="allAreaOfInterest.length==0">First Select SubCategory</option>
                        <option [ngValue]="area" *ngFor="let area of allAreaOfInterest">{{area | titlecase}}</option> 
                    </select>
                </div>
                
                <!-- <div class='custom-width'>
                    Difficulty:
                    <select class="select-dropdown" formControlName="difficultyLevel">
                        <option [ngValue]="'easy'">easy</option>
                        <option [ngValue]="'medium'">medium</option>
                        <option [ngValue]="'hard'">hard</option>
                    </select>
                </div> -->
                
                <!-- <div>
                    Number of Qns:
                    <input type="number" formControlName="noOfQuestions" min="1" oninput="validity.valid||(value='');">
                </div> -->
                <div></div>
            </div>

            <div class="card inner-card-2">
                <div>
                    <!-- Select Sub Category: 
                    <select class="select-dropdown" formControlName="quizSubCategory" #mySelect1 [(ngModel)]="defaultSubCategory"
                    (change)='onSelectedSubCategory(mySelect1.value)'>
                    <option value="0" disabled *ngIf="allSubCategories.length==0">First Select Category</option>
                        <option [ngValue]="subCateg.name" *ngFor="let subCateg of allSubCategories">{{subCateg.name | titlecase}}</option> 
                    </select> -->
                    Difficulty:
                    <select class="select-dropdown" style="width: 180px;" formControlName="difficultyLevel">
                        <option [ngValue]="'easy'">easy</option>
                        <option [ngValue]="'medium'">medium</option>
                        <option [ngValue]="'hard'">hard</option>
                    </select>
                    <button type="button" class="btn btn-primary rqst-ctg-btn" (click)="openRequestCategoryDialog()">Request Category</button>
                </div>
                <!-- <div>
                    <div style="width: 330px;margin-right: 20px;">
                        Start Date:
                        <input type="date" formControlName="startDate">
                    </div>
                    <div>
                        Start Time:
                        <input type="time" formControlName="startTime">
                    </div>
                    
                </div>
                <div>
                    <div style="width: 340px;margin-right: 20px;">
                        End Date:
                        <input type="date" formControlName="endDate">
                        <div *ngIf="addNewQuizFormControls.endTime.errors?.dateRange"> 
                            Age should be a number
                        </div>
                    </div>
                    <div>
                        End Time:
                        <input type="time" formControlName="endTime">
                    </div>                  
                </div>
                <div>
                    Time per qns:
                    <input type="number" formControlName="timePerQues" class="time-per-ques" min="1" oninput="validity.valid||(value='');" placeholder="Time in seconds">
                </div> -->
                <div>
                    Number of Qns:
                    <input type="number" formControlName="noOfQuestions" min="1" oninput="validity.valid||(value='');">
                </div>
                <div>
                    Price:
                    <input type="number" formControlName="price" class="time-per-ques" min="0" oninput="validity.valid||(value='');" placeholder="Price">
                </div>
                <div></div>
                <div class="action-btn">
                    <button type="button" class="btn btn-primary" (click)="openSelectGroupDialog()">SELECT GROUP</button>
                    <button type="button" class="btn btn-primary" (click)="openAddQuestionsDialog()">ADD QUESTIONS</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!addNewQuizForm.valid">SUBMIT</button>
                </div>

            </div>

        </form>
    </div>
</div>

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Creating New Quiz....</p>
</ngx-spinner>

