<div class="container">
    <div class="card">
        <form>
            <div>
                Select Category: 
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div>
                Select Sub Category: 
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div>
                Area of Interest:
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div>
                <div>
                    Start Time:
                    <input type="time" class="ml-2">
                </div>
                <div>
                    Start Date:
                    <input type="date" class="ml-2">
                </div>
            </div>
            <div>
                Total Slots:
                <input type="number">
            </div>
            <div>
                <div>
                    End Time:
                    <input type="time" class="ml-2">
                </div>
                <div>
                    End Date:
                    <input type="date" class="ml-2">
                </div>
            </div>
            <div>
                Number of Qns:
                <input type="number">
            </div>
            <div>
                Difficulty:
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div>
                Time per qns:
                <input type="time">
            </div>
            <div>
                Prize Pool:
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div>
                Entry Amount:
                <input type="number">
            </div>
            <div>
                Winning Prize:
                <input type="number">
            </div>
            <div></div>
            <div style="justify-content: flex-end;">
                <button class="btn btn-primary">ADD ACCESS</button>
                <button class="btn btn-primary">ADD QUESTIONS</button>
            </div>
        </form>
    </div>
</div>