@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-top: 50px;
}

.header-text {
    color: var(--brown-color);
    width: 140px;
    border-bottom: 2px solid var(--brown-color);
    text-align: center;
}

.logo {
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--brown-color);
    background-position: bottom 10px;
    padding: 0 5px 0 5px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-blue);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 0.8em;
    margin-bottom: auto;
}

.nav-links > a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

.nav-links > a:not(:first-child) {
    border-radius: 15px;
    padding: 12px;
}

.nav-links .admin {
    color: #FFB51E;
    font-size: 1.2em;
    border-bottom: 2px solid #FFB51E;
    width: 120px;
    text-align: center;
}

.selected {
    background-color: #CAE4DB;
    color: black !important;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidenav {
    width: 200px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.sidenav-container {
    height: 100vh;
    background-color: var(--bg-color);
}

.brand {
    background-color: #CAE4DB;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    margin: 20px;
}

.mat-menu-btn {
    background-color: #00303F;
    color: white;
    border-radius: 15px;
}

/* .menu-btn {
    margin: 20px 0 0 20px;
} */

.profile {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.profile-pic{
    display: inline-block;
    width: 60px;
    border-radius: 50%;
}

.profile-pic:hover {
    cursor: pointer;
}



@media(max-width:768px) {
    .sidenav-content > mat-toolbar {
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        padding-left: 0px;
        height: auto;
    }

    .profile {
        margin-left: 20px;
        margin-top: -10px;
    }

    .menu-btn {
        margin: 20px 0 0 20px;
    }
}

/* temp-code */
mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}
