<div class="container">
    <div class="header">
        <img class="logo" src="../../../assets/logo.png" alt="logo">
        <h1 class="header-text">QUIZEEE</h1>
    </div>
    <div class="nav-links">
        <a href="#" class="admin">SUPER ADMIN</a>
        <a href="#">USER MANAGEMENT</a>
        <a href="#" class="selected">QUIZ MASTER MANAGEMENT</a>
        <a href="#">AD MANAGEMENT</a>
        <a href="#">DISPUTE MANAGEMENT</a>
        <a href="#">REQUESTS</a>
        <a href="#">NOTIFICATIONS</a>
    </div>
</div>