<!-- <div class="container">
    <div class="header">
        <img class="logo" src="../../../assets/Image 7@1X.png" alt="logo">
        <h1 class="header-text">QUIZEEE</h1>
    </div>
    <div class="nav-links">
        <a href="#" class="admin">SUPER ADMIN</a>
        <a href="#" routerLinkActive='selected'>USER MANAGEMENT</a>
        <a [routerLink]="'/main-content'" routerLinkActive='selected'>QUIZ MASTER MANAGEMENT</a>
        <a href="#" routerLinkActive='selected'>AD MANAGEMENT</a>
        <a href="#" routerLinkActive='selected'>DISPUTE MANAGEMENT</a>
        <a href="#" routerLinkActive='selected'>REQUESTS</a>
        <a href="#" routerLinkActive='selected'>NOTIFICATIONS</a>
    </div>
</div> -->

<mat-drawer-container class="sidenav-container" [hasBackdrop]="true">
    <mat-drawer #drawer class="sidenav" [mode]="true">
        <div class="container">
            <div class="header">
                <img class="logo" src="../../../assets/Image 7@1X.png" alt="logo">
                <h1 class="header-text">QUIZEEE</h1>
            </div>
            <div class="nav-links">
                <a href="#" class="admin">SUPER ADMIN</a>
                <a href="#" routerLinkActive='selected'>USER MANAGEMENT</a>
                <a [routerLink]="'/main-content'" routerLinkActive='selected'>QUIZ MASTER MANAGEMENT</a>
                <a href="#" routerLinkActive='selected'>AD MANAGEMENT</a>
                <a href="#" routerLinkActive='selected'>DISPUTE MANAGEMENT</a>
                <a href="#" routerLinkActive='selected'>REQUESTS</a>
                <a href="#" routerLinkActive='selected'>NOTIFICATIONS</a>
            </div>
        </div>
    </mat-drawer>
  
    <div class="sidenav-content">
        <mat-toolbar>
            <button mat-icon-button class="menu-btn" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <h3 class="brand">QUIZ MASTER MANAGEMENT</h3>
            <span class="example-spacer"></span>
            <div class="profile">

                <button mat-button class='mat-menu-btn' [matMenuTriggerFor]="menu">Karen Cook
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu class="mat-menu" #menu="matMenu">
                    <button mat-menu-item class='profile-btn'><mat-icon class='profile-icon'>account_circle</mat-icon>Profile</button>
                    <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Logout</button>
                </mat-menu>
        
                <img class='profile-pic' src="../../../assets/profile-pic.png" alt="profile pic">
            </div>
          </mat-toolbar>
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      <router-outlet class='flex-grow-1'></router-outlet>
    </div>
  
  </mat-drawer-container>
