@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-top: 50px;
}

.header-text {
    color: var(--brown-color);
    width: 140px;
    border-bottom: 2px solid var(--brown-color);
    text-align: center;
}

.logo {
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--brown-color);
    background-position: bottom 10px;
    padding: 0 5px 0 5px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-blue);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 0.8em;
    margin-bottom: auto;
}

.nav-links > a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

.nav-links > a:not(:first-child) {
    border-radius: 15px;
    padding: 12px;
}

.nav-links .admin {
    color: #FFB51E;
    font-size: 1.2em;
    border-bottom: 2px solid #FFB51E;
    width: 120px;
    text-align: center;
}

.selected {
    background-color: #CAE4DB;
    color: black !important;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
