.container-fluid {
    height: calc(100vh - 63.993);
    overflow: auto;
    padding: 50px;
}

.btn {
    padding: 20px;
    width: 120px;
    background-color: var(--yellow-color);
    color: var(--primary-blue);
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 25px;
    margin-left: 10px;
}

.table {
    margin-top: 50px;
}

@media(max-width:768px) {
    .container-fluid{
        height: cal(100vh - 174.781px);
    }
}