.container{
    height: calc(100vh - 63.993px);
    padding: 50px;
    align-items: center;
}

.card {
    padding: 50px;
    background-color: var(--light-blue);
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    border-radius: 20px;
}