.container-fluid {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.left {
    float: left;
    width: 290px;
}

.right {
    width: 100%;
    overflow: hidden;
    margin: 0;
}


