<div class="dialog-container">
    <h1 mat-dailog-title class="title">Select Groups</h1>
    <div mat-dialog-content>
        <div *ngFor="let group of groups" class="questions">
            <mat-checkbox class="checkbox" color="primary" [value]="group.groupId" (change)="onCheckboxChange($event)" [checked]=toggleCheckbox(group.groupId)>{{group.groupName | titlecase}}</mat-checkbox>
        </div>
        <div class="spacer"></div>
        <div mat-dialog-actions>
            <button mat-button (click)="onCancelClick()">Cancel</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
        </div>
    </div>

</div>
