<div class="container-fluid">

    <div class="cancel-btn">
        <a [routerLink]="'/main-content'" class="btn btn-primary btn-cancel">
            CANCEL</a>
    </div>
    
    <div class="card">
        
        <form [formGroup]="addQuizForm" (ngSubmit)="createQuizMaster()">
            <div>
                Email ID    :<input type="text" formControlName="email" placeholder="Type your email" required>
            </div>
            <div *ngIf="addQuizFormControls.email.invalid && (addQuizFormControls.email.dirty || addQuizFormControls.email.touched)" class="error" role="alert">
                <div *ngIf="addQuizFormControls.email.errors?.required">
                    <em>Email Id is required.</em>
                </div>
                <div *ngIf="addQuizFormControls.email.errors?.pattern">
                    <em>Enter valid email address.</em>
                </div>
            </div>
            <div>
                Password    :<input type="password" formControlName="password" placeholder="Type your password" required>
            </div>
            <div *ngIf="addQuizFormControls.password.invalid && (addQuizFormControls.password.dirty || addQuizFormControls.password.touched)" class="error" role="alert">
                <div *ngIf="addQuizFormControls.password.errors?.required">
                    <em>Password is required.</em> 
                </div>
                <div *ngIf="addQuizFormControls.password.errors?.pattern">
                    <em>A minimum 8 characters password contains a combination of <strong>uppercase and lowercase letter</strong> and <strong>number</strong>.</em>
                </div>
            </div>
            <div>
                Duration    :
                <select formControlName="duration">
                    <option [ngValue]="1">1 month</option>
                    <option [ngValue]="2">2 month</option>
                    <option [ngValue]="3">3 month</option>
                    <option [ngValue]="4">4 month</option>
                </select>
            </div>
            <div *ngIf="addQuizFormControls.duration.invalid && (addQuizFormControls.duration.dirty || addQuizFormControls.duration.touched)" class="error" role="alert">
                <div *ngIf="addQuizFormControls.duration.errors?.required">
                    <em>Duration is required.</em> 
                </div>
            </div>
            <div>
                Number of Quizzes   :<input type="number" formControlName="noOfQuiz">
            </div>
            <div *ngIf="addQuizFormControls.noOfQuiz.invalid && (addQuizFormControls.noOfQuiz.dirty || addQuizFormControls.noOfQuiz.touched)" class="error" role="alert">
                <div *ngIf="addQuizFormControls.noOfQuiz.errors?.required">
                    <em>No of Quizes is required.</em> 
                </div>
            </div>
            <p style="font-weight: 900;">
                Are you a Quizeee quiz master
            </p>
            <div class='save'>
                <div class="radio">
                    <input type="radio" formControlName="quizMaster" class="yes-radio" value='1'>
                    <p class="yes-text">Yes</p>
                    <input type="radio" formControlName="quizMaster" value="2">No
                </div>
                <button type="submit" class='btn btn-primary btn-save' [disabled]='!addQuizForm.valid'>save</button>
            </div>
        </form>

    </div>

</div>
