<h1 mat-dailog-title>Select Age Group</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Start Age</mat-label>
        <input type="number" matInput [(ngModel)]="data.start" min="0" oninput="validity.valid||(value='');" required #startAgeRef="ngModel">
    </mat-form-field>
    <div *ngIf="startAgeRef.errors?.required  && startAgeRef.touched" class="errorDiv">
        *Start Age is required!
    </div>
    <mat-form-field>
        <mat-label>End Age</mat-label>
        <input type="number" matInput [(ngModel)]="data.end" min="0" oninput="validity.valid||(value='');" required #endAgeRef="ngModel">
    </mat-form-field>   
    <div *ngIf="endAgeRef.errors?.required  && endAgeRef.touched" class="errorDiv">
        *End Age is required!
    </div>
    <div *ngIf="endAgeRef.touched && data.end <= data.start" class="errorDiv">
        *End Age must be greater than Start Age
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" [disabled]="startAgeRef.errors?.required || endAgeRef.errors?.required || data.end <= data.start" cdkFocusInitial>Ok</button>
    </div>
</div>
