<div class="container-fluid">

    <div class="table">

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">

            <thead>
                <tr>
                    <th>Quiz Id</th>
                    <th>Quiz Title</th>
                    <th>Quiz Category</th>
                    <th>Start Date</th>
                    <th>Start Time</th>
                    <th>Total Questions</th>
                    <th>Date Of Creation</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let quiz of quizzes">
                    <td>{{quiz.quizId}}</td>
                    <td>{{quiz.quizTitle}}</td>
                    <td>{{quiz.quizCategory}}</td>
                    <td>{{quiz.startDate | date}}</td>
                    <td>{{quiz.startTime}}</td>
                    <td>{{quiz.noOfQuestions}}</td>
                    <td>{{quiz.creationTimeStamp | date}}</td>
                    <td>
                        <button mat-icon-button (click)="openEditQuizPage(quiz.quizId, quiz.type)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>


        </table>

    </div>

</div>