.container-fluid {
    height: calc(100vh - 64px);
    overflow: auto;
}

.table {
    margin-top: 40px;
}

@media(max-width: 768px) {

    .container-fluid {
        height: calc(100vh - 174.781px);
    }
}

.btn {
    border-radius: 25px;
    background-color: var(--yellow-color);
    color: var(--primary-blue);
    border: none;
    padding: 15px;
    font-weight: bold;
    font-size: 0.8em;
    width: 150px;
}